<div class="container login">
    <div class="row ">
        <div class="center span4 well">
            <legend>Please Sign In</legend>
            <form name="loginForm" ng-submit="login.login(login.credentials)" accept-charset="UTF-8">
                <input type="text" id="username" class="span4" name="username" placeholder="Username" ng-model="login.credentials.username"/>
                <input type="password" id="password" class="span4" name="password" placeholder="Password" ng-model="login.credentials.password"/>
                <span class="span4"><button type="submit" name="submit" class="btn btn-primary">Sign in</button></span>
            </form>
            <div ng-show="login.error">
                <span class="alert-danger">{{ login.error }}</span>
            </div>
        </div>
    </div>
</div>
<p class="text-center muted ">&copy; Copyright 2013 - Magpie Software</p>
